{% extends 'main/base.html' %}
{% load ratings %}

{% block window %}

<section class="jumbotron text-center">
        <div class="container">
        {% if user.is_authenticated %}
          <h1>Hello, {{ user.username }}!</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <a href="/movies" class="btn btn-lg btn-primary my-2">Show movies</a>
        {% else %}
        <h1>Movie Recommendations</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
            <a href="/register" class="btn btn-lg btn-primary my-2">Register</a>
            <a href="/login" class="btn btn-lg btn-secondary my-2">Login</a>
        </p>
        {% endif %}
        </div>
    </section>
{% endblock window %}

{% block content %}
    
<div class="row">
    {% for movie in latest_movies %}

    <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            {% comment %} <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> {% endcomment %}
            <div class="card-body">
            <h2>{{movie.title}}</h2>
            <small class="text-muted"> {{movie.genre}}, {{movie.length}} mins </small>
              <p class="card-text">
              This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              </p>
              {% ratings movie  18 18 read_only=True %}
                <!-- <p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </p> -->
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="/movies/{{movie.id}}">Show</a>
                  <a class="btn btn-sm btn-outline-secondary" href="/movies/{{movie.id}}">Review</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}