{% extends 'main/base.html' %}
{% load ratings %}

{% block content %}
<div class="row">
<div class="container">
    
    <div class="col-10">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{movie.title}} ({{movie.year}}) </h3>
          <small class="mb-4 ml-2 text-muted">{{movie.genre}}, {{movie.length}} mins</small>
          <div class="container">
          <p>Director: {{movie.director}}</p>
          <p>Actor: {{movie.actor}}</p>
          <p class="card-text">Actress: {{movie.actress}}</p>
          <p class="card-text">Popularity: {{movie.popularity}}</p>
          <p class="card-text">Awards: {{movie.awards}}</p>
          </div>
          <div class="container">
          <p> RATE THIS MOVIE: </p>
          {% ratings movie %}
          {% block rating_detail %}
            Whatever you want
          {% endblock %}
            <!-- <p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </p> -->
        </div>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
      </div>
</div>

    </div>
{% endblock content %}