{% extends 'main/base.html' %}
{% load static %}
{% load ratings %}

{% block content %}
<div class="row">
<div class="container-fluid">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{movie.title}} ({{movie.year}}) </h3>
          <small class="mb-4 ml-2 text-muted">{{movie.genre}}, {{movie.length}} mins</small>
          <div class="container">
          <p class="card-text"><span class="font-weight-bold">Director:</span> {{movie.director}}</p>
          <p class="card-text"><span class="font-weight-bold">Actor: </span>{{movie.actor}}</p>
          <p class="card-text"><span class="font-weight-bold"> Actress: </span> {{movie.actress}}</p>
          {% if movie.awards == False %}
            <p class="card-text"><span class="font-weight-bold"> Awards: </span> None</p>
          {% else %}
          <p class="card-text"><span class="font-weight-bold"> Awards: </span> {{movie.awards}}</p>
          {% endif %}
          <br>
          <h5 class="card-text font-weight-bold"> RATE THIS MOVIE: </h5>
          {% ratings movie %}
        </div>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src={% static "movie.png" %} class="bg-primary m-5" style=" border-radius:10px" alt="XD"></img>
        </div>
      </div>
</div>

    </div>
{% endblock content %}